body{
   background: rgb(34, 31, 31);
    color: white;
    margin: 0px;
}

header {
    margin: 0px;
    border-bottom: solid 2px white;
    padding-left: 20px;
    padding-bottom: 20px;    
    font-size: 32px;
    color:azure;
}