body{
    background: linear-gradient(45deg, black, transparent);
   
    color: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    margin: 0px;
    border-bottom: solid 2px white;
    padding: 20px;
  display: flex;
    font-size: 32px;
    color:azure;
}

section {
    background:-moz-linear-gradient(black, tranparent);
}   